
@{
    ViewData["Title"] = "GetCards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Hand

<h1>GetCards</h1>

@foreach (Card card in Model.cards)
{
    <image id="card" src="@card.image"></image>
}

<input type="button" value="Get Hand" id="GetHand" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('#GetHand').click(function () {
            $.ajax({
                type: 'GET',
                url: '/Home/GetHand',
                success: function (result) { // our result in this case is a Hand object
                    $("#card").attr('src', result.cards[0].image);
                }
            });
        });
    });
</script>